<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Compras Rentables</li>
      <li><a href="{% url 'productosSeleccionado_app:favoritos' %}">Favoritos</a></li>
      <li><a href="{% url 'productos_app:producto' %}">Productos</a></li>
      <li><a href="{% url 'historial_app:historial' %}">Historico</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <button type="button" class="button" onclick="window.location.href='{% url 'users_app:index' %}'">
          Usuario
        </button>
      </li>
    </ul>
  </div>
</div>