<div class="top-bar">
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <button type="button" class="button" onclick="window.location.href='{% url 'users_app:user-login' %}'">
                    Ingresar
                </button>
            </li>
            <li class="separator" style="margin-right: 10px"></li>
            <li>
                <button type="button" class="hollow button success" onclick="window.location.href='{% url 'users_app:user-register' %}'">
                    Registrar
                </button>
            </li>
        </ul>
    </div>
</div>