{% extends 'base.html' %}
{% load static %}
{% block title %}
    Historial Producto
{% endblock title %}
{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Historial</h1>
            <!-- Tabla de historial -->
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th>ID Producto</th>
                            <th>Almacen</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Marca</th>
                            <th>Descripción</th>
                            <th>Primera Necesidad</th>
                            <th>Fecha</th>
                            <th>Precio</th>
                            <th>Precio Unidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for historial_item in Historia %}
                        <tr>
                            <td>{{ historial_item.productId.productId }}</td>
                            <td>{{ historial_item.productId.store }}</td>
                            <td>{{ historial_item.productId.name }}</td>
                            <td>{{ historial_item.productId.category }}</td>
                            <td>{{ historial_item.productId.make }}</td>
                            <td>{{ historial_item.productId.describe }}</td>
                            <td>{{ historial_item.productId.basicNeed }}</td>
                            <td>{{ historial_item.date }}</td>
                            <td>{{ historial_item.price }}</td>
                            <td>{{ historial_item.priceUnit }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Paginación -->
            <div class="cell">
                {% if is_paginated %}
                    <nav aria-label="Pagination">
                        <ul class="pagination text-center">
                            {% if page_obj.has_previous %}
                                <li class="pagination-previous">
                                    <a href="?page={{ page_obj.previous_page_number }}&kword={{ request.GET.kword }}&csrfmiddlewaretoken={{ csrf_token }}">Atrás</a>
                                </li>
                            {% endif %}
                            {% for pagina in paginator.page_range %}
                                {% if pagina == page_obj.number %}
                                    <li class="current"><span class="show-for-sr">You're on page</span>{{ pagina }}</li>
                                {% else %}
                                    <li><a href="?page={{ pagina }}&kword={{ request.GET.kword }}&csrfmiddlewaretoken={{ csrf_token }}">{{ pagina }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="pagination-next">
                                    <a href="?page={{ page_obj.next_page_number }}&kword={{ request.GET.kword }}&csrfmiddlewaretoken={{ csrf_token }}">Siguiente</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}