{% extends 'base.html' %}
{% load static %}
{% block title %}
    Pagina de Inicio
{% endblock title %}

{% block content%}
    {% load static %}
    {% include 'includes/headerInicio.html'%}
    <div class="grid-x align-center">
      <h1 class="cell large-8" style="font-size:30px; text-align: center;">
        Consulta de Precios del Mercado
      </h1>
    </div>
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
          <li class="is-active orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="{% static 'img/pexels-greta-hoffman-9705830.jpg' %}" alt="Space">
              <figcaption class="orbit-caption">Mercado</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="{% static 'img/shopping-1165437.jpg' %}" alt="Space">
              <figcaption class="orbit-caption">Rentable</figcaption>
            </figure>
          </li>
        </ul>
      </div>
      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0">
          <span class="show-for-sr">First slide details.</span>
          <span class="show-for-sr" data-slide-active-label>Current Slide</span>
        </button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      </nav>
    </div>
{% endblock content%}